body{
   background-image: url('3188416.jpg');
   background-size: cover;
   color: #fff;
}
  
  form {
      display: inline-flex;
      justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    background-color: #ffffff57;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
  }

  .login {
    border: #4caf50;
    font-size: 40px; 
    font-weight: bold; 
    text-align: center; 
    margin-top: 100px; 
  }
   
  input {
    padding: 10px;
    margin-bottom: 10px;
    width: 250px;
    border: 1px solid #977c3e57;
    border-radius: 4px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: #fff;
    border: 2px;
    border-color: #080707;
    border-bottom: #f2f2f229;
    border-radius: 40px;
    cursor: pointer;
    font-size: large;
  }
  
 button:hover {
    background-color: #0e8f2860;
  }
  
  p {
    margin-top: 20px;
    text-align: center;
  }
  
  a {
    color: #fefffffc;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f2f229;
    padding: 10px;
    
  }
  .proceed {
    text-align: center;
    font-size: x-large;
  }
  .login {
    text-align: center;
    font-size:x-large;
    margin-top: 20px;
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-left: 39%;
    background-color: #ffffff57;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
  }

  .questions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .answers-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
  
  .answers {
    margin-bottom: 20px;
    font-size: x-large;
  }
  
 .playButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px; 
    height: 100px; 
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10%;
    margin-left: 42%;
  }
  
  .playButton a {
    text-decoration: none;
    color: #ffffff;
    font-size: x-large;
  }
  
  .playButton:hover {
    background-color: #0e8f28;
  }
  
  .difficulty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .difficulty h1 {
    margin-bottom: 20px;
  }
  
  .difficulty button {
    margin-bottom: 20px;
    font-size: x-large;
    /* Egyéb stílusok a gombokhoz */
  }

  .score {
    display:block;
    justify-content: center; 
    align-items: center; 
    font-size: xx-large;
    margin-top: 100px;
    margin-left: 50%;
    margin:auto
  }
  
  .table-header {
    color: #cecece;
    font-size: 1.1em;
    text-align: center;
    background: #212121;
    padding: 18px 0;
}

.table-body {
  font-size: 1.1em;
  text-align: center;
  color: black;
  background: #d8d8d8;
  padding: 18px 0;
}

.table-header > tr > td{
  border: 1px solid black;   
}
 
.table {
  margin: auto;
  font-size: 25px;
}

  
  
  